
# Where the app will be hosted.
# For local hosting, use ":[PORT]" to listen on localhost:[PORT].
# If you own a domain, you can set it here (e.g., "example.com" or "www.example.com").
# Thanks to Caddy's automatic HTTPS, your app will be served with a valid SSL certificate provided by Let's Encrypt, if port 80 and 443 are open.
APP_HOST=":8501"
APP_PORT=8501

# If you choose a port for APP_HOST, set this as localhost.
# Otherwise, the domain you set in APP_HOST should be set here as well.
SERVER_NAME="localhost"

# Database configuration
MYSQL_ROOT_PASSWORD="q2bDgaPASSWORDROOT"
MYSQL_DATABASE="animagineit_db"
MYSQL_USER="animagineit_user"
MYSQL_PASSWORD="q2bDgaPASSWORD"